<h1>This is <%=@student.name%>'s Student Profile</h1>

<p>Name: <%=@student.name%></p>
<p>Age: <%=@student.age%></p>
<p>School: <%=link_to @student.school.name, school_path(@student.school)%></p>

<%=link_to "Edit Info",  student_edit_path(@student)%>